.paging-controls {
  width: 140px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  button, .page-indicator {
    display: block;
    height: 100%;
    line-height: 40px;
    text-align: center;
  }
  .page-indicator {
    width: 60px;
    border: solid 1px $board-fg-color;
    border-width: 1px 0;
  }
  button {
    display: block;
    width: 40px;
    cursor: pointer;
    outline: none;
    background-color: $board-fg-color;
    color: $text-color;
    &:hover { background-color: lighten($board-fg-color, 5%); }
    &:active { background-color: lighten($board-fg-color, 2%); }
  }
  button.prev-state {
    border-radius: 6px 0 0 6px;
  }
  button.next-state {
    border-radius: 0 6px 6px 0;
  }
}

$border-width: 0.2;

.toolbar {
  position: absolute;
  button {
    display: block;
    padding: 6px;
    cursor: pointer;
    outline: none;
    background-color: $board-fg-color;
    &:hover { background-color: lighten($board-fg-color, 5%); }
    &:active { background-color: lighten($board-fg-color, 2%); }
    color: $white-color;
    border-radius: 6px;
  }
}

svg {
  width: 100%;
  height: auto;

  .stones, .labels, .annotations {
    pointer-events: none;
  }

  .label-container {
    .label {
      user-select: none;
      font-size: 0.25px;
      text-anchor: middle;
      dominant-baseline: middle;
      fill: #888;
      z-index: 100;
      opacity: 0;
    }
  }
  .label-container:hover .label {
    opacity: 1;
  }
  g.board {
    .hex {
      fill: $board-fg-color;
      filter: url(#shadow);
    }
    .stone {
      filter: url(#stone-shadow);
      &.white { fill: url(#white-linear-gradient); }
      &.black { fill: url(#black-linear-gradient); }
    }
    .edge-marker {
      filter: url(#shadow);
      &.white { fill: url(#white-linear-gradient); }
      &.black { fill: url(#black-linear-gradient); }
    }
    .annotations {
      filter: url(#glow);
      line, path {
        fill: none;
        stroke: $annotation-color;
        stroke-width: 0.05;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      circle {
        fill: $annotation-color;
      }
    }
  }
}

script[type="application/json"] {
  display: block;
  visibility: hidden;
  height: 300px;
}

.sexp {
  width: 100%;
  height: 200px;
  white-space: pre;
  font-family: monospace;
}
