$text-color: #e9ecf1;
$board-bg-color: #2e343c;
$board-fg-color: lighten(#5a6577, 10%);
$white-color: #eee;
$black-color: #222;
$annotation-color: #f6874c;

#home-link {
  color: $annotation-color;
}

h1 {
  a, a:visited {
    color: $text-color;
  }
}

body {
}

html {
  background-color: darken(#3f495a, 10%);
}

main {
  background-color: #3f495a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

body, a, a:visited {
  color: $text-color;
}

a:active {
  color: $annotation-color;
}
