header {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#home-link {
  font-size: 200%;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  @media only screen and (max-width: 500px) {
    font-size: 120%;
  }
}
