body {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

header {
  height: 80px;
  line-height: 80px;
  * {
    line-height: inherit;
  }
  display: flex;
  > svg {
    flex-grow: 0;
    width: 70px;
  }
  a#home-link {
    margin: 0 0.5em;
  }
  a {
    display: block;
    height: 100%;
  }
  > a {
    flex-grow: 1;
  }
  nav {
    flex-grow: 0;
  }

  padding: 0 2em;
  @media only screen and (max-width: 500px) {
    padding: 0 1em;
    height: 60px;
    line-height: 60px;
    > svg {
      width: 50px;
    }
  }
}

main, footer {
  padding: 2em;

  @media only screen and (max-width: 500px) {
    padding: 1em;
  }
}

article+aside {
  margin-top: 1em;
}
