body {
  font-family: sans-serif;
  font-size: 14pt;
}

p {
  line-height: 1.5;
}

*+p, p+h1, p+svg, p+div, *+h1, *+h2, *+h3 {
  margin-top: 1em;
}

h1 {
  font-size: 200%;
  margin-bottom: 1em;
}

h2 {
  font-size: 150%;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 125%;
  margin-bottom: 0.25em;
}

li+li {
  margin-top: 1em;
}

li {
  margin-left: 1em;
}

footer {
  text-align: center;
  font-size: 50%;
}

#home-link {
  font-weight: lighter;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
